.ng-scope .hospital-container {
    height: 100%;
}

.hospital-container {
  .ng-scope {
    height: 50px;
    margin-bottom: 20px;
  }
}

.angular-google-map-container { 
	height: 500px; 
	border-radius: 10px;
}

#map-canvas {
   	top: 0;
   	left: 0;
   	position: absolute;
	  height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
}

.navbar {
  height: 50px;
  margin-top: 10px;

  .navbar-form {
    padding-left: 0px;
  }

  .list-button {
    padding-top: 4px;
    padding-right: 51px;
  }

  .options-button {
    padding-top: 4px;
    padding-right: 51px;
  }
}

.options-container {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 80px;
  width: 100%;
  display: none;
  .box {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

.bottom {
  display: none;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 94%;
  width: 100%;
  
  .distance {
    padding-right: 20px;
  }
}