.hospital-container {
	padding-top: 20px;
}

.angular-google-map-container { 
	height: 500px; 
	border-radius: 10px;
}

.navbar {
	padding: 5px 10px 5px 30px;
}

#search-icon {
	height: 10px;
}

.map {
	height: 500px;
}


      html, body, #map-canvas {
        height: 500px;
       	border-radius: 5px;
        margin: 0px;
        padding: 0px
      }