.ng-scope .hospital-container {
    height: 100%;
}

.hospital-container {
  .ng-scope {
    height: 50px;
    margin-bottom: 20px;
  }
}

.angular-google-map-container { 
	height: 500px; 
	border-radius: 10px;
}

#map-canvas {
   	top: 0;
   	left: 0;
   	position: absolute;
	  height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
}

.navbar {
  height: 50px;
  margin-top: 10px;

  .list-button {
    padding-top: 4px;
    padding-left: 25px;
  }
}

