<div class="geo-login">
    <div class="col-sm-2 col-sm-offset-3 col-xs-12">
        <div class="geo-welcome">
            <img src="images/icon2.png" alt="Welcome to geolance!"/>
            <h4> 
                <small> Welcome to </small> Geolance!
            </h4>
        </div>
    </div>

    <div class="col-sm-4 col-xs-12">
        <form class="login-form" ng-submit="login()">
            <div class="form-group">
                <input type="text" class="login-field" value="" placeholder="Login" ng-model="credentials.username" required/>
                <label class="login-field-icon fui-user"></label>
            </div>
            <div class="form-group">
                <input type="text" class="login-field" value="" placeholder="Password" ng-model="credentials.password" required/>
                <label class="login-field-icon fui-lock"></label>
            </div>
            <div class="form-group">
                <button type="submit" class="login-button btn btn-primary btn-lg btn-block">Go!</button>
            </div>
        </form>
    </div>

    <div class="col-sm-offset-3 col-sm-6">
        <div class="alert alert-danger">{{error}}</div>
    </div>
    
    <a href="//github.com/joinee"><img style="position: absolute; top: 0; right: 0; border: 0;" src="//s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
</div>

    